name: nix-flake-update
on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"

jobs:
  nix-flake-update:
    runs-on: ubuntu-latest
    environment: production

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@main

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update flake"
